/dts-v1/;
/plugin/;

#include <dt-bindings/gpio/gpio.h>
#include <dt-bindings/interrupt-controller/irq.h>

/ {
    fragment@0 {
        target = <&tlmm>;

        __overlay__ {
            qup_spi0_cs1_default_state: qup-spi0-cs1-default-state {
                pins = "gpio82";
                function = "gpio";
                drive-strength = <2>;
                bias-pull-up;
                output-high;
            };

            m5io_hub_irq_default_state: m5io-hub-irq-default-state {
                pins = "gpio28";
                function = "gpio";
                drive-strength = <2>;
                bias-pull-up;
                input-enable;
                output-disable;
            };
        };
    };

    fragment@1 {
        target = <&spi0>;

        __overlay__ {
            pinctrl-names = "default";
            pinctrl-0 = <&qup_spi0_default_state>,
                        <&qup_spi0_cs1_default_state>;
            num-cs = <2>;
            cs-gpios = <0>, <&tlmm 82 GPIO_ACTIVE_LOW>;
            #address-cells = <1>;
            #size-cells = <0>;
            status = "okay";

            m5io_hub: m5io-hub@0 {
                compatible = "m5stack,m5io-hub";
                reg = <0>;
                spi-max-frequency = <20000000>;

                pinctrl-names = "default";
                pinctrl-0 = <&m5io_hub_irq_default_state>;
                interrupt-parent = <&tlmm>;
                interrupts = <28 IRQ_TYPE_LEVEL_LOW>;
                status = "okay";

                m5io_hub_gpio: gpio {
                    compatible = "m5stack,m5io-hub-gpio";
                    gpio-controller;
                    #gpio-cells = <2>;
                    interrupt-controller;
                    #interrupt-cells = <2>;
                    status = "okay";
                };

                m5io_hub_leds: leds {
                    compatible = "m5hub-gpio-leds";

                    grove-fun {
                        label = "grove_fun";
                        gpios = <&m5io_hub_gpio 1 GPIO_ACTIVE_HIGH>;
                        default-state = "off";
                    };
                };

                /* Enable these nodes when their transport drivers are ready. */
                m5io_hub_uart: serial {
                    compatible = "m5stack,m5io-hub-uart";
                    status = "disabled";
                };

                m5io_hub_i2c: i2c {
                    compatible = "m5stack,m5io-hub-i2c";
                    #address-cells = <1>;
                    #size-cells = <0>;
                    status = "disabled";
                };

                m5io_hub_spi: spi {
                    compatible = "m5stack,m5io-hub-spi";
                    #address-cells = <1>;
                    #size-cells = <0>;
                    status = "disabled";
                };
            };

            mmc-slot@1 {
                compatible = "mmc-spi-slot";
                reg = <1>;
                spi-max-frequency = <20000000>;
                voltage-ranges = <3300 3300>;
                bus-width = <1>;
                disable-wp;
                cd-gpios = <&m5io_hub_gpio 13 GPIO_ACTIVE_LOW>;
                status = "okay";
            };
        };
    };

};
